.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form{
  display: flex;
}

.searchInput{
  margin-left: 10px;
  height: 1.7rem;
  width: 500px;
}

.button{
  cursor: pointer;
  margin-left:0;
  box-sizing: border-box;
  width:50px;
  height:2.1rem;
  text-align: center;
  line-height: 2.0;
  color : rgba(100,100,100,0.6);
  background-color: rgba(240,240,240,0.7);
  font-size: 1.0rem;
  border: 1px solid rgba(100,100,100,0.7);
  border-left:none;
  transition: 0.2s;
}

.button:hover {
  color :  rgba(50,50,50,0.9);
}

